.delivery {
    display: flex;
    flex-direction: column;
    gap: 15px;
    > div {
        line-height: 1.2em;
        > h3 {
            font-family: Intro Regular;
            font-size: 1.2em;
            margin-bottom: 15px;
        }
        > div {
            * {
                margin-bottom: 10px;
            }
            > *:last-of-type {
                margin-bottom: 0;
            }
            strong {
                font-family: Intro Regular;
            }
            ul {
                margin-left: 1em;
            }
        }
    }
}
